:root {
  --darkblue: #355e6e;
  --lightblue: #6ca4ba;
  --lightblue2: #8fdaf7;
}
body {
  margin: 0;
  background-color: var(--lightblue);
  width: 100vw !important;
  overflow-x: hidden !important;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: "Whitefish";
  src: url(/fonts/Whitefish\ FREE.ttf) format("truetype");
}
footer {
  background-color: var(--darkblue);
  color: white;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.footerList li {
  list-style: none;
}
main {
  min-height: 90vh;
  margin-top: 180px;
}
header {
  background-color: var(--darkblue);
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
}
.loading {
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-color: transparent white white white;
  margin: 0 auto;
  border-radius: 50%;
  animation: spin 1.2s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
p {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Whitefish";
  font-size: 3em;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
}
h2,
h3 {
  font-family: "Whitefish";
  font-size: 2.5em;
  width: fit-content;
  text-align: center;
  font-weight: 590;
  margin: 50px auto 15px auto;
}
h3 {
  font-size: 1.5em;
  margin: 5px auto 30px auto;
  padding: 10px;
  height: min-content;
}
header ul li {
  list-style: none;
  margin: 30px 0;
}
header ul a,
.footerList li {
  color: white;
  text-decoration: none;
  font-family: "Whitefish";
  font-size: 25px;
}
.footerList li {
  font-size: 18px;
}
header ul {
  width: fit-content;
  padding: 0;
}
.logo {
  border-radius: 100%;
  border: 2px solid white;
  max-height: 100px;
}
.logoCon {
  margin: 0 auto;
}
.fa-bars,
.fa-x {
  margin-bottom: 8px;
  margin-left: 6px;
  color: white;
}
nav {
  transform: translatey(-50px);
  opacity: 0;
  border: 2px solid white;
  padding: 0 10px;
  height: 0;
  pointer-events: none;
}
.navOn {
  height: fit-content;
  transform: translatey(0);
  transition: 1s ease-in-out;
  opacity: 1;
  pointer-events: all;
  margin-top: 20px;
  margin-left: 6px;
  max-width: 80vw;
}
figure {
  cursor: zoom-in;
}
/*Home page*/
.indexMain {
  margin-top: 130px;
}
.on{
  text-decoration: underline solid white 4px;
}
.date {
  margin: 5px auto 0 auto;
  height: fit-content !important;
  width: fit-content !important;
}
.indexImgCon {
  background-image: url(/pictures/resized\ background\ 1.jpg);
  background-repeat: repeat-x;
  padding-top: 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: left;
}
.indexImgCon h1 {
  max-width: 300px;
}
.indexImgCon p {
  font-size: 1em;
  font-weight: bold;
}
.indexImgCon div {
  text-align: center;
  background: rgba(209, 248, 255, 0.6);
  padding: 20px;
  border-radius: 15%;
  max-width: fit-content;
  margin: 0 auto;
}
.recomendedCon,
.featured,
.latest_posts {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.latest_posts,
.recomendedCon {
  background-color: var(--lightblue2);
}
.latestCon {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  margin: 0;
  overflow-y: hidden;
  max-width: 100vw;
}
.thumbnailLatest {
  background-color: white;
  max-width: 200px;
  padding-bottom: 10px;
  margin: 10px auto;
  min-height: 260px;
  box-shadow: 2px 2px 2px 2px var(--lightblue);
}
.thumbnailLatest img {
  width: 200px;
  height: 200px;
}
.thumbnailLatest h3,
.featuredCon h3,
.recoCon h3 {
  margin: 10px auto 30px auto;
  padding: 5px 5px 5px 5px;
  font-size: 1.3em;
}
@keyframes PostsAnimation {
  0% {
  }
  100% {
    opacity: 40%;
  }
}
.thumbnailLatest:hover,
.thumbFeatured:hover,
.thumbReco:hover,
.thumbnailLatest:focus,
.thumbFeatured:focus,
.thumbReco:focus {
  animation-name: PostsAnimation;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.arrows {
  margin: 10px auto;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}
.fa-arrow-right {
  opacity: 70%;
  color: white;
}
.fa-arrow-right:hover,
.fa-arrow-right:focus {
  opacity: 100%;
  font-size: 46px;
}
.blogCon,
.featuredCon {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  margin: 20px auto;
  max-width: 90vw;
}
.recoCon {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 auto;
}
.thumbFeatured {
  background-color: white;
  box-shadow: 4px 4px 4px 4px var(--darkblue);
  margin: 40px 10px;
  max-width: 250px;
  min-height: 250px;
}
.imgCon {
  width: 250px;
  height: 200px;
}
.thumbFeatured img,
.recoCon img {
  width: 100%;
  height: 100%;
}
.thumbReco div {
  width: 80vw;
  height: 300px;
}
.thumbReco {
  width: 80vw;
  height: 400px;
  background-color: white;
  box-shadow: 4px 4px 4px 4px var(--lightblue);
  margin: 40px 10px;
}
/*blog posts page*/
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.load {
  color: white;
  background-color: var(--darkblue);
  width: 60vw;
  border: 1px solid white;
}
.search,
.order {
  margin: 50px auto 0 20px;
  font-size: 18px;
  font-weight: bold;
}
.search {
  width: min-content;
  display: flex;
  flex-wrap: nowrap;
}
.fa-magnifying-glass {
  height: 20px;
  background-color: var(--darkblue);
  padding: 5px;
  border: white 2px solid;
  border-left: 0;
  color: white;
  margin-right: auto;
}
.order {
  margin-top: 20px;
}
.search input,
.order select {
  background-color: var(--darkblue);
  color: white;
  border: 2px solid white;
}
.search input {
  border-right: 0;
}
.order select {
  min-height: 30px;
}
.search input::placeholder {
  color: white;
}
/*About page*/
.bodyWithBackgroundImage {
  background-image: url(/pictures/resized\ background\ 2.jpg);
  background-size: auto;
  background-repeat: repeat;
  background-blend-mode: multiply;
}
.aboutLinks {
  color: var(--darkblue);
  font-size: 20px;
  text-decoration: underline;
}
.mainContent {
  max-width: 80vw;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  margin: 100px auto 0 auto;
}
/*minimum size page*/
.measuring img {
  max-width: 80vw;
}
.measuring {
  margin: 0 auto;
  width: fit-content;
}
table h3 {
  font-size: 1em;
}
table,
tr,
td {
  border: 2px solid white;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}
.tableCon {
  overflow-x: auto;
  margin-bottom: 20px;
}
.diffSize {
  margin: 0 auto 100px auto;
  background-color: var(--darkblue);
  color: white;
  text-align: center;
}
/*Contact page*/
form,
.leaveComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
form div,
.leaveComment div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.cForm {
  background-color: var(--darkblue);
  margin-top: 0;
  margin-bottom: 100px;
}
.cForm h2 {
  color: white;
}
form label,
.comments label {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-family: "Whitefish";
}
::placeholder {
  color: black;
}
.errorLabel {
  color: #b30000;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10%;
  text-align: center;
  font-size: 1em;
  max-width: 180px;
}
.errorInput {
  border: 4px solid red !important;
}
form input,
#text {
  min-width: 200px;
  background-color: white;
  min-height: 30px;
  border: 2px solid black;
}
.submitBtn,
.load {
  min-height: 40px;
  font-size: large;
  font-family: "Whitefish";
}
.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--lightblue);
  color: white;
  font-size: 1.5em;
}
/*thank you message*/
.thank_you {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 100px auto;
  opacity: 80%;
  background-color: rgb(154, 255, 151);
  color: #454545;
  box-shadow: 2px 2px 1px 1px green;
}
.thank_you h2 {
  color: #454545;
  margin: 20px auto;
}
/*specific page*/
.speCon {
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 40px;
  margin: 0 auto;
  padding: 50px;
}
.speCon div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speCon p {
  max-width: 90vw;
  margin: 5px auto;
}
.speCon img {
  max-width: 60vw;
  max-height: 60vw;
  box-shadow: 4px 4px 4px 4px black;
  margin: 35px auto;
}
.bigImage {
  max-width: 80vw !important;
  max-height: 70vh !important;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40vw !important;
  margin-top: -25vh !important;
  z-index: 2;
}
.comments {
  background-color: var(--darkblue);
  padding: 50px;
  color: white;
  margin-bottom: 100px;
}
.comments input,
#com,
.publishCom {
  background-color: var(--lightblue);
  border: 3px solid black;
  min-width: 200px;
}
.comments input {
  min-height: 36px;
}
.leaveComment,
.commentsCon {
  margin: 50px auto;
}
.comments input:focus,
#com:focus,
.publishCom:hover,
.publishCom:focus,
form input:focus,
#text:focus {
  zoom: 130%;
  background-color: white;
  color: black;
}
.publishCom {
  height: 40px;
}
.commentCard {
  background-color: white;
  color: black;
  margin: 20px auto;
  max-width: 70vw;
}
.commentCard h3,
.commentCard h4 {
  margin: 0;
  text-align: left;
  padding: 5px;
}
.commentCard div {
  margin: 0;
  padding: 8px;
  background-color: lightgrey;
}
.commentContent {
  min-height: 60px;
  background-color: white !important;
  padding: 10px;
}
.commentContent p {
  margin: 0;
}
@media screen and (min-width: 720px) {
  main {
    margin-top: 350px;
  }
  .indexMain {
    margin-top: 200px;
  }
  .logo {
    border-radius: 100%;
    max-height: 150px;
  }
  .fa-xl {
    display: none;
  }
  nav {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    border: none;
    height: fit-content;
    margin-top: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  nav ul li {
    pointer-events: none;
    margin: 0 0 10px 30px;
    min-width: fit-content;
    text-align: center;
    padding: 10px;
  }
  nav ul li a{
    pointer-events: auto;
    font-size: 30px;
  }
  nav ul li:first-child {
    margin-left: 0;
  }
  .smallHeader {
    max-height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .smallLogoCon {
    width: fit-content;
    margin: 0;
  }
  .smallList {
    margin-left: 30px !important;
  }
  .smallLogo {
    max-height: 100px;
  }
  @keyframes navAnimation {
    0% {
    }
    100% {
      color: black;
      text-decoration: black;
    }
  }
  nav li a:hover {
    animation-name: navAnimation;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  /*Home page*/
  .indexImgCon {
    width: 100vw;
    margin: 0 auto;
  }
  .arrows {
    width: 600px;
  }
  .recoCon {
    grid-template-columns: 1fr;
  }
  .thumbnailLatest {
    margin: 0;
  }
  .latestCon {
    overflow-x: hidden;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin: 50px auto;
    max-width: 90vw;
    justify-items: center;
    grid-auto-columns: 30px;
    row-gap: 30px;
  }
  .thumbReco {
    margin: 40px 40px;
  }
  .thumbReco {
    max-width: 576px !important;
  }
  .recoCon img {
    width: 576px;
  }
  /*About page*/
  .mainContent {
    max-width: 700px;
  }
  /*minimum size page*/
  .measuring img {
    max-width: 100%;
  }
  table h3 {
    font-size: 1.5em;
  }
  /*specific page*/
  .speCon,
  .comments {
    max-width: 1000px;
  }
  .speCon {
    padding-top: 100px;
  }
  .comments {
    margin: 0 auto 200px auto;
  }
  .speCon div {
    max-width: 700px;
    margin: 0 auto;
  }
  .speCon img {
    max-width: 300px;
    max-height: 300px;
  }
  .commentCard {
    max-width: 505px;
    box-shadow: 1px 1px 2px 2px black;
  }
  .commentContent p {
    margin: 0;
    width: 480px !important;
  }
  /*blog posts page*/
  .load {
    width: 432px;
  }
  .sortingElements {
    display: flex;
    width: 700px;
    align-items: last baseline;
    justify-content: first baseline;
  }
  .order {
    display: flex;
    flex-direction: column;
  }
  .order label {
    margin-bottom: 5px;
  }
  .fa-magnifying-glass {
    height: 25px;
  }
  .search,
  .order {
    margin: 80px 20px 0 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .comments input,
  #com,
  .publishCom {
    min-width: 400px;
  }
  /*Forms: Contact page and specific page*/
  #com,
  #text {
    height: 250px;
  }
  .leaveComment {
    max-width: 500px;
  }
  form,
  .leaveComment {
    display: flex;
    margin-bottom: 50px;
  }
  form input,
  #text {
    min-width: 400px;
  }
  .submitBtn,
  .publishCom {
    min-width: 400px;
  }
}
@media screen and (min-width: 1100px) {
  /*home page*/
  .latestCon {
    grid-template-columns: auto auto auto auto;
    max-width: 1500px;
  }
  .blogCon,
  .featured {
    max-width: 1300px;
  }
  /*specific page*/
  .bigImage {
    width: 800px !important;
    height: 450px !important;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px !important;
    margin-top: -180px !important;
    cursor: default;
  }
}
@media screen and (max-width: 270px) {
  /*home page*/
  .thumbFeatured {
    max-width: 150px;
    min-height: 200px;
  }
  .imgCon {
    width: 150px;
    height: 200px;
  }
  .comments input,
  #com,
  .publishCom {
    min-width: 100px;
  }
}
