:root {
    --darkblue: #355E6E;
    --lightblue: #6CA4BA;
  }
   
body{
    margin: 0;
    background-color: var(--lightblue);
}
@font-face {
    font-family: "Whitefish" ;
    src: url(/fonts/Whitefish\ FREE.ttf) format("truetype");
}
header{
    background-color: var(--darkblue);
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
p{
    font-family: 'Roboto', sans-serif;
}
header ul li{
    list-style: none;
    margin: 30px 0;
}
header ul a{
    color: white;
    text-decoration: none;
    font-family: "Whitefish";
    font-size: 25px;
}
header ul{
    width: fit-content;
    padding: 0;
}
.logo{
    border-radius: 100%;
    max-height: 100px;
    min-width: 220px;
}
.logoCon{
    margin: 0 auto;
}
.fa-solid{
    color: white;
}
nav{
    margin-top: 50px;
    border: 2px solid white;
    padding: 10px;
}
